.calendar-enter {
  opacity: 0;
  transform: scaleY(0);
}
.calendar-enter-active {
  opacity: 1;
  transform: scaleY(1);
  transition: opacity 300ms ease, transform 300ms ease;
}

.calendar-exit {
  opacity: 1;
  transform: scaleY(1);
}
.calendar-exit-active {
  opacity: 0;
  transform: scaleY(0);
  transition: opacity 300ms ease, transform 300ms ease;
}